:root {
  --primary-color: black;
  --secondary-color: white;
  --main-shade: #7065f0;
  --overlay-gradient: linear-gradient(
    rgba(255, 255, 255, 0.879),
    rgba(255, 255, 255, 0.786)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
